:root{
    --lightDarkColorText: #707070;
    --lightGrayColor: #F2F2F2;
    --darkColor: #090C08;
}
div.section_ h2{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 0px;
}
div.section_{
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}
div.educ-item_ p{
    font-size: 15px;
    color: var(--lightDarkColorText);
}
div.section_ > img{
    width: 45%;
    border-radius: 48%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px){

    .decor{
        width: 120px;
        height: 35px;

    }
    .decor__haut_{
        width: 70px;
        height: 55px;
    }
    div.item_{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px){

    .decor{
        width: 120px;
        height: 35px;

    }
    .decor__haut_{
        width: 70px;
        height: 55px;
    }
    div.item_{
        flex-direction: column;
        align-items: center;
    }

    div.section_ h2{
        font-size: 23px;
        text-align: center;
    }
    .section_ .educ-item_ p{
        margin-top: 0px;
        font-size: 10px;
        text-align: left;
    }
    .section_ .educ-item_ li{
        font-size: 15px;
    }
    .section_ ul > li{
        font-size: 15px;
    }
}

