:root{
    --lightDarkColorText: #707070;
    --lightGrayColor: #F2F2F2;
    --darkColor: #090C08;
}
.section_{
    padding: 0px 5%;
    height: auto;
}


.decor__{
    display: flex;
    height: auto;
    margin: 20px 0px;
}
div.decor__ > .separator_{
    width: 35%;
    height: 1.5px;
    background-color: var(--darkColor);
    margin: auto;
}

div.item_ > .thumbnail{
    width: 50%;
    height: 300px;
    background-color: white;
    float: left;
    margin-right: 10px;
    max-width: 420px;
}
div.item_ > .descriptions_{
    float: left;
    width: 50%;
    padding-bottom: 10px;
    height: auto;
}
div.item_ > .descriptions_ *{
    margin: 0px;
}
div.item_ > .descriptions_ h2{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
}
div.item_ > .descriptions_ p{
    font-size: 18px;
    margin-bottom: 30px;
}

div.item_ > .descriptions_ a{
    margin: 0px 0px;
    padding: 10px 15px;
    background-color: var(--darkColor);
    display: inline-block;
    color: white;
    text-decoration: none;

}

div.item_{
    display: flex;
    padding: 20px 0px;
}

@media screen and (max-width: 800px){
    div.item_ > .descriptions_ h2{
        font-size: 22px;
    }
    .section_ h1{
        font-size: 25px;
    }
    .section_ p{
        font-size: 15px;
        text-align: center;
    }
    div.item_ > .descriptions_ p{
        font-size: 15px;
    }

    .decoration{
        top: 80px;
    }
    .decor{
        width: 120px;
        height: 35px;

    }
    .decor__haut_{
        width: 70px;
        height: 55px;
    }
    div.item_{
        flex-direction: column;
        align-items: center;
    }
    
    div.item_ > .thumbnail{
        width: 80%;
        margin: 0px;
        max-width: 500px;
    }
    div.item_ > .descriptions_{
        width: 80%;
    }
    div.item_ > .descriptions_ h2{
        text-align: center;
        margin-top: 15px
    }
    div.item_ > .descriptions_ a{
        display: block;
        text-align: center;
    }

}

@media screen and (max-width: 512px){
    div.item_ > .descriptions_ h2{
        font-size: 22px;
    }
    .section_ h1{
        font-size: 25px;
    }
    .section_ p{
        font-size: 15px;
        text-align: center;
    }
    div.item_ > .descriptions_ p{
        font-size: 15px;
    }

    .decoration{
        top: 80px;
    }
    .decor{
        width: 120px;
        height: 35px;

    }
    .decor__haut_{
        width: 70px;
        height: 55px;
    }
    div.item_{
        flex-direction: column;
        align-items: center;
    }
    
    div.item_ > .thumbnail{
        width: 80%;
        margin: 0px;
        max-width: 500px;
        height: 220px;
        min-width: 229px;
    }
    div.item_ > .descriptions_{
        width: 80%;
    }
    div.item_ > .descriptions_ h2{
        text-align: center;
        margin-top: 15px
    }
    div.item_ > .descriptions_ a{
        display: block;
        text-align: center;
    }

}

