@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

:root{
    --darkText: #181818;
    --whiteText: #717171;
    --whiteBack: #FFF;
    --darkBack: #F6F5EF;
    --darkSection: #FBFAF9;
    --focusColor: #FFCC33;
}
.skill-svg{
    display: inline-block;
    height: 80px!important;
    width: 80px!important;
}

.skills-title{
    margin-top: 20px;
}

.services-section{
    background-color: var(--darkSection);
}
.services-section .service-cards .card{
    background-color: var(--whiteBack);
    box-shadow: 0px 0px 15px rgba(181, 181, 181, 0.621);
    padding: 20px;
    border-radius: 10px;
    max-width: 250px;
    width: 25%;
    height: 200px;
}
.services-section > .section-contener > .service-cards{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    
}
.services-section .card  h4{
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}
.services-section > .section-contener > .service-cards > .card > p{
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
}
.services-section > .section-contener > .service-cards > .card > a{
    font-size: 15px;
    color: var(--darkText);
    text-decoration: underline;
}


.card .card-title {
    display: flex;
    flex-direction: column;
}

.service-cards .card  path{
    fill: var(--focusColor);
}

/* ------------ SKILLS --------------- */
.skills-items > .item{
    background-color: var(--darkText);
    flex-basis: 27%;
    color: var(--darkBack);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 0px 10px #ffcc335a;
    border-radius: 15px;
}
.skills-items{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: #717171; */
}
.skills-items > .item > p{
    flex-shrink: 1;
    padding: 0px 10px;
}

.jauge{
    height: 80px;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jauge > svg > circle:first-child{
    fill: transparent;
    stroke: var(--darkBack);
    stroke-width: 6px;
    stroke-dasharray: 190;
}
.jauge > svg > circle:last-child{
    fill: transparent;
    stroke: #FFCC33;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-dasharray: 190;
}
.for-python > svg > circle:last-child{
    stroke-dashoffset: 47.5;
}
.for-html-css > svg > circle:last-child{
    stroke-dashoffset: 66.5;
}

.for-javascript > svg > circle:last-child{
    stroke-dashoffset: 104.5;
}
.jauge div{
    position: absolute;
}

@media screen and (max-width: 1080px){
    .services-section > .section-contener > .service-cards{
        display: block;
    }

    .services-section .service-cards > .card{
        height: 218px;
        width: 100%;
        min-width: none;
        max-width: none;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .services-section .service-cards > .card  h4{
        font-size: 20px;
    }
    .services-section > .section-contener > .service-cards > .card > p{
        font-size: 18px;

    }

    .skills-items > .item{
        flex-direction: column;
    }
    .skills-items > .item > p {
        text-align: center;
        font-size: 17px;
    }
    .jauge{
        width: 100%;
        max-width: none;
        height: 100px;
        min-width: none;
    }
    .portfolio-item > .p-item{
        height: 300px;
    }
}
@media screen and (max-width: 920px) {
    /* .service-cards > .card > .logo {
        width: 100%;
        height: 90px;
        margin-bottom: 20px;
    } */
    .card-title svg {
        width: 60px;
        height: 60px;
    }
    .service-cards > .card > .logo > svg {
        width: 50px;
        height: 50px;
    }
    .service-cards > .card > .card-title {
        display: flex;
        align-items: center;
    }
  
    .services-section  > .section-contener .card h4 {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .services-section  .card > p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    .section-contener > .service-cards .card{
        /* background-color: #181818; */
        height: 230px;
    }

}

@media screen and (max-width: 510px){
    .section-contener > .service-cards .card{
        /* background-color: #181818; */
        height: 300px!important;
    }

    .skills-items {
        flex-direction: column;
        height: 510px;
    }
}




