/* RESET CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* ROOT */
.v-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
:root{
    --darkColor: #090C08;
}


/* S-HEADER */
div.header{
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
}
ul.menu{
    margin: 5px 0px 0px 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    left: 200px;
}
ul.menu li{
    list-style: none;
    float: left;
    padding: 2px 10px;
}
ul.menu li a{
    text-decoration: none;
    color: black;
    font-weight: normal;
}


/* S-BANNER */
.decor {
    width: 230px;
    height: 60px;
    background-color: var(--darkColor);
}
.decor__haut{
    height: 80px;
    width: 300px;
    position: relative;
    left: 80px;
    bottom: 35px;
    border: 5px solid white;
    display: flex;
}
.decor__haut h1{
    color: white;
    margin: auto;
    font-size: 50px;
}
div#section__decor{
    float: left;
    width: 400px;
    height: 120px;

}
div.banner{
    display: inline-block;
    width: 100%;
    height: auto;
}
div.wellcome__text{
    width: 45%;
    height: 60%;
    float: left;
    padding: 0px 10px 0px 20px;
    margin-left: 80px;
    min-width: 495px;
    clear: left;
}
div.wellcome__text h1{
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.3rem;
    margin: 0px;
    padding: 10px 0px;
}
div.wellcome__text p{
    margin: 10px 0px 0px 0px;
    font-size: 16px;

}
div.separator{
    background-color: black;
    height: 0.2px;
    width: 30%;

}
img.wellcome__profile_image{
    width: 30%;
    max-width: 380px;
    min-width: 335px;
    margin-right: 60px;
    position: relative;
    left: 60px;
    box-shadow: 40px -40px ;
}

/* S-CONTENT */
.section a{
    color: white;
    background-color: var(--darkColor);
    padding: 10px 15px;
    text-decoration: none;

}

div.section__1{
    background-color: #F2F2F2;
    height: auto;
    overflow: hidden;
}

.section__2 img{
    width: 55%;
    min-width: 445px;
    float: left;
    margin-right: 10px;
}
.section__2 .description{
    float: left;
    width: 43%;
    min-width: 345px;
    height: auto;
    padding-top: 30px;
    padding-left: 5px;
    margin-top: 25px;
}
div.section__3{
    background-color: #F2F2F2;
}
.section__3 .description{
    float: left;
    width: 48%;
    height: auto;
    padding-top: 40px;
    padding-left: 5px;
    margin-top: 25px;
}
.section__3_image{
    width: 51%;
    min-width: 415px;
    float: left;

}
.section{
    display: inline-block;
    padding: 0px 10%;
    height: 550px;
    overflow: hidden;
}

.section__4 .description{
    width: 45%;
    float: left;
    min-width: 100px;
    margin: 120px auto auto 0px;

}
.section__4 .description h2, p{
    margin-top: 0px;
}
.section__4_image{
    width: 45%;
    min-width: 400px;
    float: left;
    margin: auto;
}
div.section__4{
    display: flex;
}

.section h2{
    font-size: 45px;
    margin-bottom: 25px;
    margin-top: 10px;
    line-height: 50px;
}

/* ---------- FOR IPAD --------- */

@media screen and (max-width: 1024px) {
    div.separator{
        background-color: black;
        height: 5px;
        width: 25%;
        margin: auto;

    }
    ul.menu{
        position: static;
        border: 1px solid;
        display: table;
        margin: auto;

    }
    div.wellcome__text p{
        margin-top: 30px;
        font-size: 20px;

    }
    div.banner{
        height: 600px;
        display: block;
    }

    div.wellcome__text{
        width: 100%;
        height: auto;
        float: none;
        padding: 0px;
        margin-left: 0px;
        text-align: center;
    }

    img.wellcome__profile_image{
        width: 35%;
        max-width: none;
        min-width: 335px;
        margin-right: 0px;
        position: relative;
        bottom: 0px;
        left: 0px;
        top: 70px;
        margin: auto;
        display: block;
    }
    div.section__1{
        background-color: #F2F2F2;
        height: auto;
        padding-top: 100px;
        text-align: center;
    }

    .section__2 img{
        width: 50%;
        min-width: 320px;
    }
    .section__2 .description{
        width: 45%;
        min-width: 290px;
        padding-top: 10px;
    }

    div.section__3{
        background-color: #F2F2F2;
    }
    .section__3 .description{
        width: 48%;
        padding-top: 10px;
    }
    .section__3_image{
        min-width: 320px;
    }

    .section__4 .description{
        width: 42%;
        float: left;
        padding-left: 10px;
        min-width: 270px;
    }
    .section__4 .description h2, p{
        margin-top: 0px;
    }
    .section__4_image{
        width: 45%;
        min-width: 350px;
        max-width: 450px;
        margin-right: 10px;

    }
}


/* ---------- FOR MOBILES --------- */
@media screen and (max-width: 900px) {
    div.banner{
        height: 600px;
        display: block;
    }

    div.wellcome__text{
        width: 100%;
        height: auto;
        float: none;
        padding: 0px;
        margin-left: 0px;
        text-align: center;
    }

    img.wellcome__profile_image{
        width: 35%;
        max-width: none;
        min-width: 335px;
        margin-right: 0px;
        position: relative;
        bottom: 0px;
        left: 0px;
        top: 50px;
        margin: auto;
        display: block;
    }
    div.section__1{
        background-color: #F2F2F2;
        height: auto;
        padding-top: 100px;
        text-align: center;
    }

    .section__2 img{
        display: block;
        width: 100%;
        margin: auto;
    }
    .section__2 .description{
        width: 100%;
        min-width: none;
        text-align: center;
    }

    div.section__3{
        background-color: #F2F2F2;
    }
    .section__3 .description{
        width: 100%;
        text-align: center;
    }
    .section__3_image{
        width: 100%;
        min-width: 320px;
    }

    .section__4 .description{
        width: 100%;
        padding-left: 0px;
        min-width: none;
        text-align: center;
        margin-top: 35px;
    }
    .section__4 .description h2, p{
        margin-top: 0px;
    }
    .section__4_image{
        width: 100%;
        min-width: none;
        max-width: none;
        margin-right: 0px;
    }
}